* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading-page {
  background-color: #010111;
  color: #ffffff;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}